<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tourney">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".page.DetailJoin" android:parentActivityName=".page.Join">
        </activity>
        <activity
                android:name=".page.JoinT"
                android:parentActivityName=".page.Dashboard">
        </activity>
        <activity
                android:name=".page.JoinMine"
                android:parentActivityName=".page.JoinT">
        </activity>
        <activity
                android:name=".page.Join"
                android:parentActivityName=".page.Dashboard">
        </activity>
        <activity android:name=".page.IkutTour">
        </activity>
        <activity android:name=".page.ProfilePerson"/>
        <activity
                android:name=".page.ChangePassword"
                android:parentActivityName=".page.Setting">
        </activity>
        <activity
                android:name=".page.Setting"
                android:parentActivityName=".page.Dashboard">
        </activity>
        <activity android:name=".page.EditProfile">
        </activity>
        <activity android:name=".page.DetailFoto">
        </activity>
        <activity
                android:name=".page.TambahTour"
                android:parentActivityName=".page.Dashboard">
        </activity>
        <activity
                android:name=".page.DetailTournament"
                android:parentActivityName=".page.Dashboard">
        </activity>
        <activity
                android:name=".page.Dashboard"
                android:label="Tourney"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".page.Auth">
        </activity>
        <activity
                android:name=".page.Profile"
                android:parentActivityName=".page.Dashboard"/>
        <activity android:name=".page.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".page.Chat">

        </activity>
    </application>

</manifest>